.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo i {
    color: white;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
}

.navbar .logo h4 {
    color: white;
}

.navbar .image {
    margin: 10px 10px;
}

.navbar .image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}